<% include ./partials/header %>

<div class="container">
  <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
    <h1 style="text-align: center">My Dashboard</h1>
    <hr>
</div>

<% include ./partials/footer %>
