<% include ../partials/header %>

<div class="container w-25 col-auto animated fadeIn" style="text-align: center;">
	<% if(success && success.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
	<h2>Instructors</h2>
	<p>Type instructor name:</p>  

	<div class="input-group">
		<input type="text" class="form-control" id="myInput">
		<div class="input-group-append">
			<span class="input-group-text"><i class="fas fa-search"></i></span>
		</div>
	</div>

	<!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
	<br>
	<ul class="list-group" id="instructors">
		<% instructors.forEach(function(instructor) { %>
			<li class="list-group-item"><a href="/user/<%= instructor._id %>"><%= instructor.firstName %> <%= instructor.lastName %></a></li>
		<% }) %>
	</ul>  
</div>
	
<script>
	$(document).ready(function(){
		$("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#instructors li").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
</script>

<% include ../partials/footer %>