
.form {
  display: inline-block;
}

form.inline {
  float:right;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'PT Sans', sans-serif;
}

.parent {
  position: relative;
  transform: translateY(5%);
  text-align: center;
}

.navbar-collapse.collapse.in {
  display: block!important;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

span {
  background: #db2e2e;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border-radius: 5px;
}


.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

a, a:hover {
  color: black;
  text-decoration: none;
}

.agenda:hover {
  background-color: #B3B3B3;
}

.list-group-item:hover {
  background-color:  #B3B3B3;
}