.form {
  display: inline-block;
}

form.inline { 
  float:right; 
}

.parent {
  position: relative;
  transform: translateY(5%);
  text-align: center;
}

.navbar-collapse.collapse.in {
  display: block!important;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}