<% include ../partials/header %>

<div class="container w-25" style="text-align: center;">
	<% if(success && success.length > 0) { %>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
	<% } %>
	<h2>Students</h2>
	<p>Type student name:</p>  

	<div class="input-group">
		<input type="text" class="form-control" id="myInput">
		<div class="input-group-append">
			<span class="input-group-text"><i class="fas fa-search"></i></span> 
        </div>
        <a href="/students/new" class="btn btn-success btn-sm"><i class="fas fa-user-plus"></i></a>
	</div>

	<!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
	<br>
	<ul class="list-group" id="students">
		<% students.forEach(function(student) { %>
			<li class="list-group-item"><a href="/students/<%= student._id %>"><%= student.firstName %> <%= student.lastName %></a></li>
		<% }) %>
	</ul>  
</div>
	
<script>
	$(document).ready(function(){
		$("#myInput").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#students li").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
</script>

<% include ../partials/footer %>